* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #267871, #136a8a);


}

.grid-container img {
  width: 100px;
  height: 100px;
  margin-top: 25px;
}